<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="head"></div>
<div id="header"></div>
<div>
  <h2>salade melon avocat</h2>
</div>

<div class="card_5 flex ">
  <div class="card_5txt">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet
      velit fuga nulla cupiditate illo pariatur ex dignissimos. Esse, placeat!
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_salades/salade_melon_avocat/presentation.png"
    />
  </div>
</div>

    <div class="card_5 flex "> 
    <div class="card_5img">
      <img
        src="../../img/recettes_salades/salade_melon_avocat/presentation.png"
      />
    </div>
    <div class="card_5txt">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet
          velit fuga nulla cupiditate illo pariatur ex dignissimos. Esse, placeat!
        </p>
      </div>
    </div>

  <div class="card_5 flex ">
    <div class="card_5txt">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet
        velit fuga nulla cupiditate illo pariatur ex dignissimos. Esse, placeat!
      </p>
    </div>
    <div class="card_5img">
      <img
        src="../../img/recettes_salades/salade_melon_avocat/presentation.png"
      />
    </div>
  </div>

  <div class="card_5 flex "> 
    <div class="card_5img">
      <img
        src="../../img/recettes_salades/salade_melon_avocat/presentation.png"
      />
    </div>
    <div class="card_5txt">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eveniet
          velit fuga nulla cupiditate illo pariatur ex dignissimos. Esse, placeat!
        </p>
      </div>
    </div>
    <a href="/index.html">retour</a>
<div id="footer"></div>
