<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="head"></div>
<div id="header"></div>
<div class="title2">
  <h2>Salade de pâtes et crudités</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingédiants</p>
    <br />
    <ul>
      <li>400 g de pâtes cuites</li>
      <li>1 concombre</li>
      <li>4 petites tomates</li>
      <li>Ciboulette ciselée</li>
      <li>Radis en rondelles</li>
      <li>Brins de persil</li>
      <li>Mayonnaise</li>
      <li>Sel et poivre</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Les pâtes sont cuites au préalable.<br />
      Peler le concombre avant de le couper en dés.<br />
      Laver les tomates avant de les couper à leur tour.
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_salades/salade_melon_avocat/presentation.png"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Dans un grand saladier verser les pâtes cuites, les morceaux de tomates,
      <br />
      le concombre en dés et les radis.Ajouter le persil et la ciboulette
      ciselés. Saler et poivrer.
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/final.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Réserver au réfrigérateur jusqu’au repas.<br />
      Juste avant le service, ajouter 2 C à S de mayonnaise et mélanger en
      soulevant la masse pour éviter d’écraser les ingrédients.
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/assiette.jpg" />
  </div>
</div>

<div id="footer"></div>
