.site {
  color: #8b4513;
  text-align: center;
}

:root {
  --clr1: #f63;
  --clr2: #f9c79d;
  --clr3: #8b4513;
  --clr4: #72b86a36;
  --clr5: #4d84479c;
  --clrtxtw: #fff;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  height: 250px;
  background-color: var(--clr4);
  z-index: 99;
}
.clrw {
  color: var(--clrtxtw);
}
header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

body {
  overflow-x: scroll;
  /* background-repeat: space;
  background: linear-gradient(to right, var(--clr1), var(--clr3));
  background-size: 400% 100%;
  animation: ani 240s linear infinite; */
}
@keyframes ani {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.logo {
  margin-left: 20px;
  margin-top: -50px;
  z-index: 99999;
  & img {
    margin-top: 20px;
    width: 120px;
    border-radius: 20px 0 20px 0;
    /* box-shadow: -23px -23px 46px #b54632, 23px 23px 46px #ff7e5a; */
  }
  & img:hover {
    /* box-shadow: inset -23px -23px 46px #b54632, inset 23px 23px 46px #ff805c; */
    box-shadow: inset -23px -23px 46px #dbdbdbc2, inset 23px 23px 46px #e4e4e4a3;
  }
}

a {
  text-decoration: none;
  list-style: none;
  color: var(--clr3);
}

@keyframes color-sweep {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

h1,
h2 {
  font-family: cursive;
  text-align: center;
  /* background: linear-gradient(to right, var(--clr1), var(--clr3));
  -webkit-background-clip: text;
  background-clip: text;
  animation: color-sweep 10s linear infinite; */
  color: var(--clr5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.384);
}

h1 {
  font-size: clamp(30px, 5vw, 80px);
  /* color: transparent; */
  transition: transform 0.3s ease-out;
  margin-top: 20px;
}

h2 {
  font-size: clamp(30px, 4vw, 50px);
  background-size: 200% 100%;
  /* color: transparent; */
  margin: 50px;
}

.flex {
  display: flex;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.margin {
  margin: 0 auto;
  width: 80%;

  & .container_2 {
    display: flex;
    flex-wrap: wrap;
  }
}

body {
  z-index: 8;
  /* background-image: url(../img/),
    linear-gradient(to bottom right, var(--clr1), var(--clr2), var(--clr3));
  animation: color-sweep 60s linear infinite;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  background-repeat: no-repeat;
}

#liste {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

/*card des recettes*/

.container_card {
  max-width: 1200px;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  display: flex;
  overflow-x: scroll;
  transition: transform 0.3s ease;
  border-radius: 30px;

  background-color: var(--clr4); /*new style*/
  padding: 20px; /*new style*/
}

.container_card :nth-child(1),
.container_card :nth-child(3) {
  font-family: cursive;
}

.card_sucre {
  background: rgba(255, 255, 255, 0.217);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.045);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid var(--clr1.05);
  width: 300px;
  height: 300px;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 20px;
  flex-shrink: 0;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.217));
  & img {
    width: 90%;
    border-radius: 20px;
    max-height: 70%;
  }
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container_scroll {
  position: relative;
  overflow: hidden;
  max-width: 1270px;
  width: 100%;
  overflow: hidden;
  /* Ajoutez ces propriétés pour le dégradé */
  background: linear-gradient(to right, #ffffff01, transparent);
}
.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}
.next-button,
.prev-button {
  color: var(--clr3);
  display: none;
}
/* Masquer la barre de défilement verticale */
::-webkit-scrollbar {
  width: 0;
}

footer {
  margin-top: 50px; /* new style*/
  background-color: var(--clr4);

  padding: 20px;
  text-align: center;
  margin-bottom: 0;
  & .flex {
    margin-bottom: 20px;
  }
}

.footer-links a {
  
  color: #333;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  margin-bottom: 5px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.card_5 {
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  max-width: 1440px;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.card_5txt {
  min-width: 280px;
  margin-bottom: 20px;
  margin: 0 auto;
  & p {
    width: 90%;
  }
}

.card_5img {
  margin: 0 auto;
  text-align: center;
  & img {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  header {
    height: 380px;
  }
  .card_5 {
    display: flex;
  }
  .card_5txt {
    width: 400px;
  }
  .card_5img img {
    width: 400px;
  }
  .container_card::-webkit-scrollbar-thumb {
    background-color: var(--clr5); /*new style*/
    border-radius: 10px;
  }
  .next-button,
  .prev-button {
    display: none; /* block quant ils fonctionnerons */
  }
}

/*menu*/
menu {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;

  & nav {
    text-align: center;
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: -660px;
    /*background-color: #f9c69deb; */
    background-color: #72b86aee;
    padding: 1rem;
    /* display: none; */
    opacity: 0;
    transition: all 0.6s ease-out;
    width: 80vw;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  }
}

.menu_display {
  /* display: block; */
  opacity: 1;
  top: 40px;
}
#menu_open {
  z-index: 9;
  margin: 0 auto;
  width: 100%;
}
#menu_burger {
  cursor: pointer;
  z-index: 99;
  margin-left: 95%;
  margin-top: -90px;
}
.flex {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.gap {
  max-width: 450px;
  & p {
    margin-top: 15px;
    font-weight: 700;
    font-size: 22px;
    flex-wrap: wrap;
    color: #662e06;
    gap: 10px;
    padding: 10px;
  }
  & a {
    color: #662e06;
    gap: 10px;
    padding: 10px;
  }
}

.gap a:hover {
  color: #8b4513;
}

menu nav ul li {
  list-style: none;
  color: #8b4513;
}
/* contact*/

#contact-form {
  background-color: #72b86a36;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
  height: 400px;
  z-index: 99;
}
body form {
  align-items: center;
  margin: 0 auto;
}
.center {
  
  text-align: center;
  margin: 20px;
  margin: 0 auto;
  width: 90%;
 
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 300px;
 
}
.wrap a{
  text-align: center;
}
#contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4d8447;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #4d8447;
  border-radius: 5px;
}

#contact-form textarea {
  resize: vertical;
}

#contact-form button {
  background-color: #4d8447;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#contact-form button:hover {
  background-color: #388036;
}

/* Style pour les messages d'erreur */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Style pour les messages de succès */
.success-message {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}
/*about*/
.about {
  & p {
    width: 80%;
    margin-bottom: 20px;
  }
}
