<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="head"></div>
<div id="header"></div>
<div class="title2">
  <h2>Fondant au chocolat</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingédiants</p>
    <br />
    <ul>
      <li>200g de chocolat dessert</li>
      <li>200g de beurre</li>
      <li>125g de sucre</li>
      <li>100g de farine</li>
      <li>6 oeufs entiers</li>
      <li>1 c à c de fleur de sel </li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>    
    <br />
    <p>
      Faire fondre le chocolat au bain mari avec le beure<br />
    Battre les oeufs et le sucre .
    
      <br/>
      Ajoutez le chocolat fondu aux oeufs progressivement en remuant bien .
    </p>
  </div>

  <div class="card_5img">
    <img
      src="../../img/recettes_desserts/fondant_au_chocolat/ingediants.jpg"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Tamisez la farine au dessus et melangez jusq'à obtenir une préparation bien homogène.
      
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_desserts/fondant_au_chocolat/partie2.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Beurrez et fariner un moule carré de 20cm  et versez la préparation .
      <br/>
      Enfournez 23 min à 180C° 
      <br/> Servez avec une boule de glace vanille et émietter un speculos pour ajouté un coté croquant .

      
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_desserts/fondant_au_chocolat/final.jpg" />
  </div>
</div>

<div id="footer"></div>
