<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="head"></div>
<div id="header"></div>
<div id="title2">
  <h2>salade melon avocat</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingédiants</p>
    <br />
    <ul>
      <li>1 avocats</li>
      <li>1/2 melon</li>
      <li>250g de tomates cerises</li>
      <li>20 billes de mozzarellas</li>
      <li>1 concombre</li>
      <li>4 oeufs dur</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Dans la chair du melon et à l'aide d'une cuillère parisienne, prélevez des
      petites boules. <br/>
      Vous pouvez également couper le melon en dés.<br/>
       Déposez ces
      morceaux dans une passoire en plastique en attendant de préparer le reste
      des légumes.
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_salades/salade_melon_avocat/presentation.png"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Coupez l'avocat en deux, ôtez le noyau et la peu et détaillez en lanières.<br/>
      Arrosez de jus de citron pour éviter qu'il ne noircisse.
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/final.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Coupez les tomates cerises en 2 ou laissez-les tel quel si elles sont trop
      petites.<br/>
      Dans une assiette, déposez au centre les boules de melon tout
      autour les morceaux d'avocat et terminez par les tomates.
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/assiette.jpg" />
  </div>
</div>

<div id="footer"></div>
