<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="title2">
  <h2>Cookies</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingrédients</p>
    <br />
    <ul>
      <li>50g de pépites de chocolat noir </li>
      <li>50g de pépites de chocolat blanc </li>
      <li>85g de beurre </li>
      <li>85g de sucre</li>
      <li>1 C.à café de vanille liquide</li>
      <li>150g de farine</li>
      <li>1 C.à café de sel </li>
      <li>1 oeuf</li>
      <li>1 sachet de levure chimique
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Dans un saladier mélanger le beurre et le sucre <br/>
      Ajouter l'oeuf et la vanille
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_desserts/ccokies/ingrediants.jpg"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Une fois le melange bien homogène ajouter progressivementla farine, la levure, le sel puis le chocolat
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_desserts/ccokies/etape 2.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Sur une plaque recouvert de papier cuisson former des petits cercles avec la pâte en les espaçants bien <br/>
      Faites cuire 10 minutes a 200°C 
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_desserts/ccokies/final.jpg" />
  </div>
</div>

<div id="footer"></div>
