<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="title2">
  <h2>Crêpes sucrée</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingrédients</p>
    <br />
    <ul>
      <li>250g de farine</li>
      <li>4 oeufs</li>
      <li>500ml de lait</li>
      <li>100g de sucre en poudre</li>
      <li>2caS d'huile</li>
      <li>1caC d'arome vanille</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Dans un saladier, mélanger le sucre et les oeufs <br/>
      Une fois le mélanger bien homogène ajouter la vanille et l'huile 
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_desserts/crêpes/ingredients.jpg"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Ajouter le lait puis la farine
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_desserts/crêpes/etape2.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Une fois le mélanger bien homogène ajouter la vanille et l'huile <br/>
      faites chauffé la poêle a crêpes avec un filet huile au fond bien etalé sur toute la surface , puis faites cuire vos crêpes 
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_desserts/crêpes/final.jpg" />
  </div>
</div>

<div id="footer"></div>
