<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="bouton"></div>
<div id="title2">
  <h2>Marbré moelleux ( cake factory)</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingédiants</p>
    <br />

    <ul>
      <li>220g de farine</li>
      <li>150g de sucre</li>
      <li>12cl de creme liquide entière</li>
      <li>120g de beurre</li>
      <li>100g de chocolat</li>
      <li>4 oeufs</li>
      <li>1 sachet de levure chimique</li>
      <li>1 CaS arôme vaille</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Dans un saladier, mélanger oeufs sucre <br />ajouter la creme et mélanger 
      
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_salades/salade_melon_avocat/20230609_114309.jpg"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Ajouter la farine la levure et continuer de mélanger pour obtenir une pate homogene<br/>
      diviser la pate en 2<br />
      dans une préparation ajouter 60 gr de beurre fondue et la vanille et dans la deuxieme préparation ajouter 60 gr de beuure fondu et le chocolat fondu
      
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/20230609_114309.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      
      verser dans le moule a gateaux a partager en alternant les couches et cuire sur le programme 1 pendant 35 minutes , verifier la cuisine avec un couteau il doit ressortir propre 
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/20230609_114309.jpg" />
  </div>
</div>

<div id="footer"></div>
