<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="title2">
  <h2>Mini cakes aux pépites de chocolat</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingrédients</p>
    <br />
    <ul>
      <li>150g de beurre mou </li>
      <li>50g de pépites de chocolat blanc </li>
      <li>50g de pépites de chocolat noir  </li>
      <li>180g de sucre</li>
      <li>2 sachets de sucre vanillé</li>
      <li>300g de farine</li>
      <li>1 pincée de sel </li>
      <li>2 oeufs</li>
      <li>1 sachet de levure chimique</li>
      <li>300 ml de lait</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Dans un saladier mélanger le beurre et le sucre <br/>
      Ajouter les oeufs, le sucre vanillé, le sel puis mélanger .
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_desserts/mini gateaux aux pepites/ingredients.jpg"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Ajouter ensuite la farine et la levure puis verser progressivement le lait . bien mélanger pour obtenir une pate bien homogène.
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_desserts/mini gateaux aux pepites/etape 2.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Ajouter ensuite les pepites de chocolat puis garnisser votre moule a muffin jusqu'a mi hauteur et faites cuire 30 minutes a 180°C
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_desserts/mini gateaux aux pepites/final.jpg" />
  </div>
</div>

<div id="footer"></div>
