<footer>
  <a href="#" id="btn-retour-haut" class="bouton-flottant">&#8593;</a>
        <script>	// Script pour gérer le comportement du bouton flottant
          const btnRetourHaut = document.getElementById('btn-retour-haut');
          
          // Afficher le bouton lorsque l'utilisateur commence à faire défiler la page
          window.addEventListener('scroll', () => {
            if (window.scrollY > 300) {
              btnRetourHaut.classList.add('visible');
            } else {
              btnRetourHaut.classList.remove('visible');
            }
          });
          
          // Gérer le clic sur le bouton pour remonter en haut de page
          btnRetourHaut.addEventListener('click', () => {
            window.scrollTo({
              top: 0,
              behavior: 'smooth'
            });
          });
          </script>
  <div class="footer-links">
    <a href="/index.html">Acceuil</a>
    <a href="mailto:adresse-email@exemple.com?subject=Recettes" target="_blank"
      >Proposer une recette</a
    >
    <a
      href="mailto:adresse-email@exemple.com?subject=Commentaires"
      target="_blank"
      >Donner votre avis
    </a>
    <a href="#legal-page">Mentions Légales</a>
  </div>
  
  <script type="module" src="../js/sript.js"></script>
</footer>
