<footer>
  <div class="footer-links">
    <div class="wrap">
      <a href="/index.html">Acceuil</a><a href="/contact.html">Contact</a><a href="/about.html">A propos</a>
    </div>
<div class="wrap">
  <a href="mailto:angelique-dereeper@hotmail.fr?subject=Recettes" target="_blank"
  >Proposer une recette
</a>
<a href="mailto:angelique-dereeper@hotmail.fr?subject=Commentaires"
  target="_blank">Donner votre avis
</a>
</div>
    

    <p>© Dereeper Angélique - Tous droits réservés</p>
  </div>

  <script type="module" src="../js/sript.js"></script>
</footer>
