<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="preload" href="/img" as="image" />
    <script type="module" src="../../js/sript.js"></script>
    <link rel="stylesheet" href="../../css/style.css" />
    <title>les recettes d'Angelique</title>
  </head>
  <body>
    <header>
      <logo class="logo">
        <a href="/index.html">
          <img
            src="/img/cupcakes-g59ddcd4c7_640-removebg-preview.png"
            title="Acceuil"
            alt="logo"
        /></a>
      
      <p class="site">site en construction</p>
      <a href="/index.html" title="Acceuil">
        <h1>Les recettes d'Angélique</h1>
      </a>
    </logo>
    
      <script src="script.js"></script>
    </header>
  </body>
</html>
