<div class="hero">  
    <div class="slideshow">
        <img class="slideshow-image active" src="../img/recettes_salades/salade_melon_avocat/final.jpg" alt=""/>
        <img class="slideshow-image" src="../img/recettes_desserts/ccokies/final.jpg" alt=""/>
        <img class="slideshow-image" src="../img/recettes_plats/saumon/final.jpg" alt=""/>   
        <img class="slideshow-image" src="../img/recettes_salades/salade_pates_crudite/final.jpg" alt=""/>
        <img class="slideshow-image" src="../img/recettes_desserts/crêpes/final.jpg" alt=""/>  
    </div>
    <h3>bientot des photos </h3>
</div>
