<div><br /><br /></div>
<h2>Les plats</h2>
<div class="container_scroll">
  <div class="container_card">
    <a
      href="\components\recettes_list2_plat\Gratin_de_pommes_de_terre_au_camembert.html#title2"
      title="Gratin de pommes de terre au camembert"
      ><div class="card_sucre">
        
        <p>Gratin au camembert</p>
        <img
          src="/img/recettes_plats/gratin camenbert/final.jpg"
          alt="gratin"
        />
        <p>facile</p>
      </div></a
    >

    <a
      href="\components\recettes_list2_plat\Gratin_de_saumon.html#title2"
      title="Gratin de saumon"
      ><div class="card_sucre">
        
        <p>Gratin de saumon</p>
        <img src="/img/recettes_plats/saumon/final.jpg" alt="saumon" />
        <p>facile</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >
  </div>
  <button class="scroll-button prev-button" onclick="scrollLeft()">
    &#10094;
  </button>
  <button class="scroll-button next-button" onclick="scrollRight()">
    &#10095;
  </button>
</div>
