<div><br /><br /></div>
<h2>Tartes & cakes salé</h2>
<div class="container_scroll">
  <div class="container_card">

    <a href="/components/recettes_list3_tarte/tarte_lardons.html#title2" title="tarte lardons"
      ><div class="card_sucre">
        
        <p>Tarte aux lardons</p>
        <img src="/img/recettes_plats/tarte_lardons/vignette.jpg" alt="" />
        <p>facile</p>
      </div></a
    >

    <a
      href="/components/recettes_list3_tarte/tarte_epinards_ricotta.html#title2"
      title="Tarte epinards ricotta"
      ><div class="card_sucre">
        
        <p>Tarte epinards ricotta</p>
        <img
          src="/img/recettes_plats/tarte epinard ricota/final.jpg"
          alt="epinard"
        />
        <p>facile</p>
      </div></a
    >

    

    
  </div>
  <button class="scroll-button prev-button" onclick="scrollLeft()">
    &#10094;
  </button>
  <button class="scroll-button next-button" onclick="scrollRight()">
    &#10095;
  </button>
</div>
