<div><br/><br/></div>
<h2><span>&#x2190;</span>Les plats<span>&#x2192;</span></h2>
    <div class="container_card">
      
      <a href="\components\recettes_list2\Gratin_de_pommes_de_terre_au_camembert.html#title2"><div class="card_sucre">1
        <p>Gratin de pommes de terre au camembert</p>
        <img src="../../img/" alt=""/>
        <p>facile</p>
      </div></a>
      <a href="\components\recettes_list2\Gratin_de_saumon.html#title2"><div class="card_sucre">2
        <p>Gratin de saumon</p>
        <img src="" alt=""/>
        <p></p>
      </div></a>
      <a href=""><div class="card_sucre">3
        <p></p>
        <img src="../../img/" alt=""/>
        <p></p>
      </div></a>
      <a href=""><div class="card_sucre">4
        <p></p>
        <img src="" alt=""/>
        <p></p>
      </div></a>
      <a href=""><div class="card_sucre">5
        <p></p>
        <img src="" alt=""/>
        <p></p>
      </div></a>
      <a href=""><div class="card_sucre">6
        <p></p>
        <img src="" alt=""/>
        <p></p>
      </div></a>
      <a href=""><div class="card_sucre">7
        <p></p>
        <img src="" alt=""/>
        <p></p>
      </div></a>
      <a href=""><div class="card_sucre">8
        <p></p>
        <img src="" alt=""/>
        <p></p>
      </div></a>
      <a href=""><div class="card_sucre">9
        <p></p>
        <img src="" alt=""/>
        <p></p>
      </div></a>
      <a href=""><div class="card_sucre">10
        <p></p>
        <img src="" alt=""/>
        <p></p>
      </div></a>
      <a href=""><div class="card_sucre">11
        <p></p>
        <img src="" alt=""/>
        <p></p>
      </div></a>
      
      

    </div>