<div><br /><br /></div>
<h2><span>&#x2190;</span>Salades et entrées<span>&#x2192;</span></h2>
<div class="container_card">
  <p class="arrow arrow_left">&#8249;</p>
  
  <a href="/components/recettes_list1/salade_melon_avocat.html#title2">
    <div class="card_sucre">
      1
      <p>Salade melon avocat</p>
      <img
        src="/img/recettes_salades/salade_melon_avocat/assiette.jpg"
        alt="salade"
      />
      <p>facile</p>
    </div>
    
  </a>

  <a href="/components/recettes_list1/salade_pates_crudités.html#title2"
    ><div class="card_sucre">
      2
      <p>Salade pates crudités</p>
      <img src="/img/recettes_salades/" alt="" />
      <p>facile</p>
    </div></a
  >

  <a href=""
    ><div class="card_sucre">
      3
      <p>ici bientôt</p>
      <img src="" alt="" />
      <p>une recette</p>
    </div></a
  >
  <a href=""
    ><div class="card_sucre">
      4
      <p>ici bientôt</p>
      <img src="" alt="" />
      <p>une recette</p>
    </div></a
  >
  <a href=""
    ><div class="card_sucre">
      5
      <p>ici bientôt</p>
      <img src="" alt="" />
      <p>une recette</p>
    </div></a
  >
  <a href=""
    ><div class="card_sucre">
      6
      <p>ici bientôt</p>
      <img src="" alt="" />
      <p>une recette</p>
    </div></a
  >
  <a href=""
    ><div class="card_sucre">
      7
      <p>ici bientôt</p>
      <img src="" alt="" />
      <p>une recette</p>
    </div></a
  >
  <a href=""
    ><div class="card_sucre">
      8
      <p>ici bientôt</p>
      <img src="" alt="" />
      <p>une recette</p>
    </div></a
  >
  <a href=""
    ><div class="card_sucre">
      9
      <p>ici bientôt</p>
      <img src="" alt="" />
      <p>une recette</p>
    </div></a
  >
  <a href=""
    ><div class="card_sucre">
      10
      <p>ici bientôt</p>
      <img src="" alt="" />
      <p>une recette</p>
    </div></a
  >
  <a href=""
    ><div class="card_sucre">
      11
      <p>ici bientôt</p>
      <img src="" alt="" />
      <p>une recette</p>
    </div></a
  >
  <p class="arrow arrow_right">&#8250;</p>
</div>
