<div><br/><br/></div>
<h2><span>&#x2190;</span>Les plats<span>&#x2192;</span></h2>
    <div class="container_card">
      
      <a href=""><div class="card_sucre">1</div></a>
      <a href=""><div class="card_sucre">2</div></a>
      <a href=""><div class="card_sucre">3</div></a>
      <a href=""><div class="card_sucre">4</div></a>
      <a href=""><div class="card_sucre">5</div></a>
      <a href=""><div class="card_sucre">6</div></a>
      <a href=""><div class="card_sucre">7</div></a>
      <a href=""><div class="card_sucre">8</div></a>
      <a href=""><div class="card_sucre">9</div></a>
      <a href=""><div class="card_sucre">10</div></a>
      <a href=""><div class="card_sucre">11</div></a>
      <a href=""><div class="card_sucre">11</div></a>
      <a href=""><div class="card_sucre">11</div></a>
      <a href=""><div class="card_sucre">11</div></a>
      <a href=""><div class="card_sucre">11</div></a>
      <a href=""><div class="card_sucre">11</div></a>
      <a href=""><div class="card_sucre">11</div></a>
      

    </div>