<div><br /><br /></div>
<h2>Les plats</h2>
<div class="container_scroll">
  <div class="container_card">
    
    
    <a
      href="\components\recettes_list2_plat\gaufres_aux_champignons.html#title2"
      title="gaufres aux champignons"
      ><div class="card_sucre">
        
        <p>gaufres aux champignons</p>
        <img
          src="/img/recettes_plats/gaufres aux champignons/final.webp"
          alt="gratin"
        />
        <p>facile</p>
      </div></a
    >

    <a href="\components\recettes_list2_plat\pommes_de_terre_chorizo.html#title2"
    title="Pommes de terre au chorizo"
      ><div class="card_sucre">
        
        <p>Pommes de terre au chorizo</p>
        <img src="/img/recettes_plats/chorizo pomme de terre/final.jpg" alt="<pommes de terre" />
        <p>facile</p>
      </div></a
    >

    
    <a
      href="\components\recettes_list2_plat\Gratin_de_pommes_de_terre_au_camembert.html#title2"
      title="Gratin de pommes de terre au camembert"
      ><div class="card_sucre">
        
        <p>Gratin au camembert</p>
        <img
          src="/img/recettes_plats/gratin camenbert/final.jpg"
          alt="gratin"
        />
        <p>facile</p>
      </div></a
    >

    <a
      href="\components\recettes_list2_plat\Gratin_de_saumon.html#title2"
      title="Gratin de saumon"
      ><div class="card_sucre">
        
        <p>Gratin de saumon</p>
        <img src="/img/recettes_plats/saumon/final.jpg" alt="saumon" />
        <p>facile</p>
      </div></a
    >

    <a href="\components\recettes_list2_plat\flan_de_courgettes.html#title2" title="Flan de courgettes"
      ><div class="card_sucre">
        
        <p>Flan de courgettes</p>
        <img src="/img/recettes_plats/flan de courgettes /final.jpg" alt="flan" />
        <p>facile</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >

    <a href="" title=""
      ><div class="card_sucre">
        
        <p>ici bientôt</p>
        <img src="" alt="" />
        <p>une recette</p>
      </div></a
    >
  </div>
  <button class="scroll-button prev-button" onclick="scrollLeft()">
    &#10094;
  </button>
  <button class="scroll-button next-button" onclick="scrollRight()">
    &#10095;
  </button>
</div>
