<div><br /><br /></div>
<h2><span>&#x2190;</span>Les desserts <span>&#x2192;</span></h2>
<div class="container_card">

  <a href="/components/recettes_list4_dessert/Fondant_au_chocolat.html#title2" title="Fondant au chocolat"
    ><div class="card_sucre">
      1
      <p>Fondant au chocolat</p>
      <img src="/img/recettes_desserts/fondant_au_chocolat/final.jpg" alt="" />
      <p>facile</p></div
  ></a>

  <a href="/components/recettes_list4_dessert/Marbre_moelleux.html#title2" title="Marbré moelleux"
    ><div class="card_sucre">
      2
      <p>Marbré moelleux</p>
      <img src="/img/recettes_desserts/marbre_moelleux/final.jpg" alt="" />
      <p>facile</p>
    </div></a
  >

  <a href="/components/recettes_list4_dessert/crepes.html" title="Crêpes"><div class="card_sucre">3
    <p>Crêpes</p>
    <img src="/img/recettes_desserts/crêpes/final.jpg" alt=""/>
    <p>facile</p>
  </div></a>

  <a href="/components/recettes_list4_dessert/Cookies.html" title="Cookies"><div class="card_sucre">4
    <p>Cookies</p>
    <img src="" alt=""/>
    <p>facile/p>
  </div></a>

  <a href="" title=""><div class="card_sucre">5
    <p>ici bientôt</p>
    <img src="" alt=""/>
    <p>une recette</p>
  </div></a>
  <a href="" title=""><div class="card_sucre">6
    <p>ici bientôt</p>
    <img src="" alt=""/>
    <p>une recette</p>
  </div></a>
  <a href="" title=""><div class="card_sucre">7
    <p>ici bientôt</p>
    <img src="" alt=""/>
    <p>une recette</p>
  </div></a>
  <a href="" title=""><div class="card_sucre">8
    <p>ici bientôt</p>
    <img src="" alt=""/>
    <p>une recette</p>
  </div></a>
  <a href="" title=""><div class="card_sucre">9
    <p>ici bientôt</p>
    <img src="" alt=""/>
    <p>une recette</p>
  </div></a>
  <a href="" title=""><div class="card_sucre">10
    <p>ici bientôt</p>
    <img src="" alt=""/>
    <p>une recette</p>
  </div></a>
  <a href="" title=""><div class="card_sucre">11
    <p>ici bientôt</p>
    <img src="" alt=""/>
    <p>une recette</p>
  </div></a> 
</div>
