<div><br /><br /></div>
<h2><span>&#x2190;</span>Les desserts <span>&#x2192;</span></h2>
<div class="container_card">
  <a href="/components/recettes_list4/Marbre_moelleux.html"
    ><div class="card_sucre">
      1
      <p>Marbré moelleux</p>
      <img src="" alt="" />
      <p>facile</p>
    </div></a
  >

  <a href="/components/recettes_list4/Fondant_au_chocolat.html"
    ><div class="card_sucre">
      2
      <p>Fondant au chocolat</p>
      <img src="/img/recettes_desserts/fondant_au_chocolat/final.jpg" alt="" />
      <p>facile</p></div
  ></a>

  <a href=""
    ><div class="card_sucre">
      3
      <p></p>
      <img src="" alt="" />
      <p></p></div
  ></a>

  <a href=""
    ><div class="card_sucre">
      4
      <p></p>
      <img src="" alt="" />
      <p></p></div
  ></a>

  <a href=""
    ><div class="card_sucre">
      5
      <p></p>
      <img src="" alt="" />
      <p></p></div
  ></a>

  <a href=""
    ><div class="card_sucre">
      6
      <p></p>
      <img src="" alt="" />
      <p></p></div
  ></a>

  <a href=""
    ><div class="card_sucre">
      7
      <p></p>
      <img src="" alt="" />
      <p></p></div
  ></a>

  <a href=""
    ><div class="card_sucre">
      8
      <p></p>
      <img src="" alt="" />
      <p></p></div
  ></a>

  <a href=""
    ><div class="card_sucre">
      9
      <p></p>
      <img src="" alt="" />
      <p></p></div
  ></a>

  <a href=""
    ><div class="card_sucre">
      10
      <p></p>
      <img src="" alt="" />
      <p></p></div
  ></a>

  <a href=""
    ><div class="card_sucre">
      11
      <p></p>
      <img src="" alt="" />
      <p></p></div
  ></a>
</div>
