<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="title2">
  <h2>Tarte aux lardons</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingrédients</p>
    <br />
    <ul>
      <li>1 pâte brisée</li>
      <li>200g de lardons fumés</li>
      <li>200 ml de lait</li>
      <li>200 ml de crème fraiche</li>
      <li>4 oeufs</li>
      <li>1 pincée de poivre</li>
      <li>1 pincée de noix de muscade</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Préchauffez le four a 180°C <br/>
      Etalez votre pâte dans le moule a tarte puis piquez le fond a l'aide d'une fourchette<br/>
       
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_plats/tarte_lardons/ingredients .jpg"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Dans une poêle faites revenir les lardons<br>
      Egoutez le gras de cuisson
    
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_plats/tarte_lardons/etape 2.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Mélangez dans un saladier les oeufs, la crème, le lait. Puis ajoutez le poivre et la muscade.<br/>
      Une fois le mélange bien homogène ajoutez les lardons puis mélangez et versez la préparation sur la pâte brisé<br>
      Faites cuire 50 minutes a 180°c 
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_plats/tarte_lardons/final.jpg" />
  </div>
</div>

<div id="footer"></div>
