<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="title2">
  <h2>Tarte épinards ricotta</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingédiants</p>
    <br />
    <ul>
      <li>1 pâte brisée</li>
      <li>400g epinards </li>
      <li>250g ricotta</li>
      <li>200g de lardons</li>
      <li>10 cl de crème fraiche épaisse</li>
      <li>3 oeufs </li>
      <li>20g de beurre</li>
      <li>1 pincée de noix de muscade</li>
      <li>sel poivre</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Lavez les épinards, retirez les côtes et essorez-les.<br/>
      Faites fondre le beurre dans la sauteuse. <br/>
      Ajoutez-y les épinards et faites revenir pendant 8 minutes environ. Laissez-les ensuite refroidir dans une passoire afin d'eliminer le reste d'eau puis hachez-les grossièrement
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_salades/salade_melon_avocat/presentation.png"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Faites revenir les lardons dans une poêle<br/>
      Battez les oeufs et la crème dans un saladier. Ajoutez-y les épinards, les lardons et la ricotta.Salez, poivrez et incorporez ensuite la noix de muscade.
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/final.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Versez la garniture sur la pâte et faites cuire pendant environ 40 minutes à 180 degrés .<br/>
      
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/assiette.jpg" />
  </div>
</div>

<div id="footer"></div>
