<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="title2">
  <h2>Flan de courgettes</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingrédients</p>
    <br />
    <ul>
      <li>1kg de courgettes</li>
      <li>8càs de lait</li>
      <li>6 oeufs</li>
      <li>75g de ricotta</li>
      <li>100g de gruyère rapé</li>
      <li>sel,poivre</li>
      <li>ail,oignon</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Faites revenir les courgettes dans une pôele avec l'ail, l'oignon<br />
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_plats/flan de courgettes /ingredients.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Battre les oeufs,le lait,la ricotta et salé et poivré a votre
      convenance<br />
      Ajouter les courgettes avec ail et oignon dans la préparation et mélanger
      bien
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_plats/flan de courgettes /etape2.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Garnisser votre plat a gratin et ajouter le gruyère<br />
      Faites cuire 50 minutes à 210°C
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_plats/flan de courgettes /final.jpg" />
  </div>
</div>

<div id="footer"></div>
