<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="title2">
  <h2>Gaufres aux champignons</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingrédients pour les gaufres</p>
    <br />
    <ul>
      <li>2 oeufs</li>
      <li>250ml de lait</li>
      <li>250ml de bière de votre choix</li>
      <li>250g de farine</li>
      <li>50g de beurre fondu</li>
      <li>une pincée de sel</li>
      </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Mélanger la farine, les oeufs et la pincée de sel , bien mélanger.<br/>
      
      </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_plats/gaufres aux champignons/ingredients gaufres.webp"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Ajouter le lait, la bière et le beurre et mélanger jusqu'a obtenir un mélange bien homogène
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_plats/gaufres aux champignons/etape2.webp" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingrédients pour la sauce aux champignons</p>
    <br />
    <ul>
      <li>25 cl de crème fraiche</li>
      <li>100ml de vin blanc</li>
      <li>500g de champignons</li>
      <li>sel</li>
      <li>persil</li>
     </ul>
  </div>
</div>
<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Faites chauffer la crème a feu doux et ajouter le vin blanc et les champignons<br/>
      
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_plats/gaufres aux champignons/ingredients.webp"
    />
  </div>
</div>
</div>
</div>
<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Mixer le tout pour obtenir une sauce bien lisse , ajouter le sel et le persil<br/>
  
      </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_plats/gaufres aux champignons/etape2.webp"
    />
  </div>
</div>
<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Mélanger votre pâte a gaufres avec votre sauce aux champignon<br/>
  
      </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_plats/gaufres aux champignons/etape2.webp"
    />
  </div>
</div>
<div class="card_5">
  <div class="card_5txt">
    <p>Etape 4</p>
    <br />
    <p>
      Faites cuire vos gaufres 5 minutes et deguster le goût subtil du champignon<br/>
  
      </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_plats/gaufres aux champignons/final.webp"
    />
  </div>
</div>
<div id="footer"></div>
