<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="bouton"></div>
<div id="header"></div>
<div id="title2">
  <h2>Gratin de pommes de terre au camembert</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingrédients</p>
    <br />
    <ul>
      <li>9 pommes de terre</li>
      <li>200g de lardon</li>
      <li>450 ml de creme liquide</li>
      <li>1 camembert</li>
      <li>75g d'oignons</li>
      <li>sel , poivre</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      Eplucher et faites cuire les pommes de terre dans de l'eau bouillante avec du sel (environs 15-20 minutes de cuisson selon la taille des pommes de terre)  <br />
      Pendant que les pommes de terre cuisent, épluchez les oignons et coupez-les finement.<br>
Dans une poêle, faites chauffer un peu d'huile ou de beurre à feu moyen.<br>
Ajoutez les oignons coupés dans la poêle chaude et faites-les revenir pendant environ 10 minutes, ou jusqu'à ce qu'ils deviennent translucides et commencent à dorer légèrement,puis ajoutez les lardons et les faire revenir pendant 10 minutes avec les oignons .<br />
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_plats/gratin camenbert/ingredients.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Dans une casserole, faites fondre le fromage à feu doux.<br>
      Une fois le fromage bien fondu, ajoutez la crème et remuez doucement , ensuite mixer cette préparation.<br>
      Egouttez le mélange oignons lardons pour enlever l'excedent de gras puis l'ajoutez a la préparation, ajoutez le sel et le poivre a votre convenance .
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_plats/gratin camenbert/etape 2.jpg " />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Egouttez ensuite les pommes de terre et coupez les en rondelles<br>
      Placer une couche de rondelle de pomme de terre au fond de votre plat a four , puis versez une couche de votre préparation<br>
      Répétez cette étape jusqu'a temps que votre plat est remplis , faites cuire 40 minutes a 200°C
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_plats/gratin camenbert/final.jpg" />
  </div>
</div>

<div id="footer"></div>
