<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="bouton"></div>
<div id="title2">
  <h2>Gratin de saumon</h2>
</div>

  <div class="card_5">
    <div class="card_5txt">
      <p>Ingrédients</p>
      <br />
      <ul>
        <li>6 pommes de terre</li>
        <li>200g de saumon</li>
        <li>400 ml de creme liquide</li>
        <li>gruyere rapé</li>
        <li>sel , poivre , ail</li>
      </ul>
    </div>
  </div>

  <div class="card_5">
    <div class="card_5txt">
      <p>Etape 1</p>
      <br />
      <p>
        Pelez , découppez en rondelles et faites precuire vos pommes de terre a la
        vapeur 10 minutes
      </p>
    </div>
    <div class="card_5img">
      <img
        src="../../img/recettes_plats/saumon/ingredients.jpg"
      />
    </div>
  </div>

  <div class="card_5">
    <div class="card_5txt">
      <p>Etape 2</p>
      <br />
      <p>
        Dans un saladier battre la creme avec le sel, le poivre et l'ail<br />
        Disposez une couche de rondelles de pommes de terre, puis le saumon et y
        ajouter un filet de creme et renouvellez l'operation jusqu'à la hauteur du
        plat
      </p>
    </div>
    <div class="card_5img">
      <img src="../../img/recettes_plats/saumon/etape 2.jpg" />
    </div>
  </div>

  <div class="card_5">
    <div class="card_5txt">
      <p>Etape 3</p>
      <br />
      <p>
        Parsemer de gruyere rapé à votre convenance puis<br />
        faire cuire 45 minutes à 210 degres
      </p>
    </div>
    <div class="card_5img">
      <img src="../../img/recettes_plats/saumon/final.jpg" />
    </div>
  </div>

<div id="footer"></div>
