<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="bouton"></div>
<div id="header"></div>
<div id="title2">
  <h2>Gratin de pommes de terre au camembert</h2>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Ingédiants</p>
    <br />
    <ul>
      <li>6 pommes de terre</li>
      <li>200g de lardon</li>
      <li>250 ml de creme liquide</li>
      <li>1 camembert</li>
      <li>gruyere rapé</li>
      <li>sel , poivre</li>
    </ul>
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 1</p>
    <br />
    <p>
      temps de préparation 15 minutes
temps de cuisson 55 minutes <br/>
Pelez , découppez en rondelles et faites precuire vos pommes de terre a la vapeur 10 minutes<br/>
       
    </p>
  </div>
  <div class="card_5img">
    <img
      src="../../img/recettes_salades/salade_melon_avocat/20230609_114309.jpg"
    />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 2</p>
    <br />
    <p>
      Disposez une couche de rondelles de pommes de terre, puis les lardons et le camembert et  et y ajouter un filet de crème et renouvellez l'operation jusqu'a la hauteur du plat
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/20230609_114309.jpg" />
  </div>
</div>

<div class="card_5">
  <div class="card_5txt">
    <p>Etape 3</p>
    <br />
    <p>
      Parsemer de gruyere rapé à votre convenance puis faire cuire en mode manuel 45 minutes a 210 degres
    </p>
  </div>
  <div class="card_5img">
    <img src="../../img/recettes_salades/salade_melon_avocat/20230609_114309.jpg" />
  </div>
</div>

<div id="footer"></div>
