<script type="module" src="../../js/sript.js"></script>
<link rel="stylesheet" href="../../css/style.css" />
<div id="header"></div>
<div id="bouton"></div>
<div id="title2">
  <h2>Pommes de terre au chorizo<p>poulet</p></h2>
</div>

  <div class="card_5">
    <div class="card_5txt">
      <p>Ingrédients</p>
      <br />
      <ul>
        <li>8 pommes de terre</li>
        <li>300g de poulet</li>
        <li>1 chorizo doux</li>
        <li>sel , poivre , ail</li>
      </ul>
    </div>
  </div>

  <div class="card_5">
    <div class="card_5txt">
      <p>Etape 1</p>
      <br />
      <p>
        Faites revenir le chorizo dans deux poeles a feu moyen<br>
        Pendant ce temps, éplucher les pommes de terre et couper les en cubes
      </p>
    </div>
    <div class="card_5img">
      <img
        src="../../img/recettes_plats/chorizo pomme de terre/ingredients.jpg"
      />
    </div>
  </div>

  <div class="card_5">
    <div class="card_5txt">
      <p>Etape 2</p>
      <br />
      <p>
       Mettre de côté le chorizo et faite revenir les pommes de terre dans l'une des pôeles pour qu'elle prenne le goût et la couleur du chorizo<br>
       Répéter la même opération avec le poulet dans l'autre pôele. Assaisoner a votre convenance
      </p>
    </div>
    <div class="card_5img">
      <img src="../../img/recettes_plats/chorizo pomme de terre/etape 2.jpg" />
    </div>
  </div>

  <div class="card_5">
    <div class="card_5txt">
      <p>Etape 3</p>
      <br />
      <p>
        Avant la fin de cuisson, ajouter le chorizo et le poulet dans les pommes de terre <br>
        Laisser finir de cuire a feu doux 
      </p>
    </div>
    <div class="card_5img">
      <img src="../../img/recettes_plats/chorizo pomme de terre/final.jpg" />
    </div>
  </div>

<div id="footer"></div>
